:host {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.balloon-wrapper:not(.right) {
  margin-right: 5em;

  transform: translateX(-50%);
}

.balloon-wrapper.right {
  margin-left: 5em;

  transform: translateX(50%);
}
