:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

$selector-size: 216px;

.icons {
  position: relative;
  width: $selector-size;
  height: $selector-size;
}

::slotted([slot='icon']) {
  $center: $selector-size / 2;
  $size: 32px;

  display: block;
  position: absolute;
  top: calc(#{$center} - #{$size / 2});
  left: calc(#{$center} - #{$size / 2});
  width: $size;
  height: $size;

  color: currentColor;
  overflow: hidden;

  opacity: 0.5;
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
}

::slotted([slot='icon']:hover) {
  opacity: 0.7;
}

::slotted(.active[slot='icon']) {
  opacity: 1;
  cursor: default;
}

.selector {
  width: $selector-size;
  margin-top: -$selector-size / 2;

  @media (min-height: 1000px) {
    margin-top: 144px;
  }
}

.control {
  display: flex;
  margin-top: 48px;
}

.next,
.prev {
  padding: 16px;
  height: 1em;

  cursor: pointer;
}

%arrow {
  display: inline-block;
  box-sizing: border-box;
  width: 1em;
  height: 1em;

  border-radius: 4px;
}

.arrow-prev {
  @extend %arrow;

  margin-left: -0.5em;

  border: {
    top: 0.5em solid transparent;
    right: 0.5em solid currentColor;
    bottom: 0.5em solid transparent;
  }
}

.arrow-next {
  @extend %arrow;

  margin-right: -0.5em;

  border: {
    top: 0.5em solid transparent;
    bottom: 0.5em solid transparent;
    left: 0.5em solid currentColor;
  }
}

.labels-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.labels {
  display: flex;

  transition: transform 0.3s ease-in-out;
}

::slotted([slot='label']) {
  display: inline-block;
  width: 100%;
  flex-shrink: 0;

  text-align: center;
}

::slotted(my-balloons) {
  display: none;
  position: absolute;
  bottom: 80px;

  transition: opacity 0.1s ease;
}

::slotted(.active-balloons) {
  display: flex;
}
