@import '../lib/mvp/mvp.css';
@import '../lib/inter/inter.css';
@import '../lib/icofont/icofont.css';

:root {
  font-size: 16px;

  --color-secondary: #9e057d;
  --color-text-secondary: #545454;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #0097fc;
    --color-accent: #0097fc4f;
    --color-bg: #333;
    --color-bg-secondary: #555;
    --color-secondary: #fbb4fd;
    --color-secondary-accent: #e20de94f;
    --color-shadow: #bbbbbb20;
    --color-text: #f7f7f7;
    --color-text-secondary: #ccc;
  }
}

/* Site's own styles */
a[target='_blank']::after {
  content: '\ef1f';

  font-family: 'IcoFont';
  margin-left: 0.1em;
}

/* Overrides mvp.css */
nav {
  margin-bottom: 5rem;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Vertical rhythm */
:root {
  --baseline: 1.75;
  --line-height: var(--baseline);
  line-height: var(--baseline);
}

body {
  line-height: calc(var(--baseline) * 1rem);
}

p {
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 1rem);
}

sup {
  /* Prevent <sup> to change the parent line-height */
  vertical-align: baseline;
  top: -6px;
}

a,
sup,
code,
span,
small,
kbd {
  /* Do not apply line-height for inline elements */
  line-height: normal;
}

ul {
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 1rem);
}

nav ul {
  margin-top: 0;
}

ul li {
  padding: 0;
}

h1 {
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 2rem);
  line-height: calc(var(--baseline) * 2rem);
}

h2 {
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 2rem);
  line-height: calc(var(--baseline) * 1rem);
}

h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: calc(var(--baseline) * 1rem);
  line-height: calc(var(--baseline) * 1rem);
}
