// Common styles.
// Will be inlined in HTML file.

@import './vars';

body {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: {
    bottom: 80px;
  }
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: $color-bg;
  color: $color-fg;
  font-family: 'Roboto', sans-serif;
}

#app {
  position: relative;
  flex-grow: 1;

  opacity: 1;
  transition: opacity 0.3s ease;

  &[data-state='out'] {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.25s ease 0.05s, opacity 0.2s ease;
  }
}

my-statusbar {
  flex-shrink: 0;

  font-family: 'Passero One', cursive, sans-serif;
}

my-balloon,
my-explainer {
  &:not(:defined) {
    visibility: hidden;
  }
}
